.table {
  .avatar-group .avatar {
    margin-right: 4px;
  }
  .badge i {
    margin-right: 10px;
  }
}
.curser-pointer {
  cursor: pointer;
}
.font-weight-600 {
  p {
    font-weight: 600 !important;
  }
}
.changeEmailInputFelid {
  min-width: 150px;
}
.trending {
  & th {
    font-size: 14px !important;
    font-weight: 700 !important;
  }
}
